<div class="container my-5">
	<div class="row">
		<div class="col-sm-12">
			<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
				<h4>
					<i class="fas fa-book"></i> Username / repoName</h4>
				<div class="btn-group" role="group" aria-label="First group">
					<button type="button" class="btn btn-secondary">
						<i class="fas fa-eye"></i> Watch: </button>
					<button type="button" class="btn btn-secondary">
						<i class="fas fa-star"></i> Star:</button>
					<button type="button" class="btn btn-secondary">
						<i class="fas fa-code-branch"></i> Fork:</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<ngb-tabset #t="ngbTabset">
				<div *ngFor="let data of githubData">
					<ngb-tab id="tab-{{data.name}}">
						<ng-template ngbTabTitle>
							<i class="{{data?.icon}}"></i> {{data.name}}</ng-template>
						<ng-template ngbTabContent>
							<p>{{data?.description}}</p>
							<div *ngIf="data?.name == 'code'">
								<table class="table table-hover mb-5">
									<tbody>
										<tr *ngFor="let folders of projects?.folders">
											<td><i class="{{folders.icon}}"></i> {{folders.name}}</td>
											<td>{{folders.comment}}</td>
											<td>{{folders.date}}</td>
										</tr>
										<tr *ngFor="let files of projects?.files">
											<td><i class="{{files.icon}}"></i> {{files.name}}</td>
											<td>{{files.comment}}</td>
											<td>{{files.date}}</td>
										</tr>
									</tbody>
								</table>
								<div [innerHTML]=projects.readmeContent></div>
							</div>
						</ng-template>
					</ngb-tab>
				</div>
			</ngb-tabset>
		</div>
	</div>
</div>
