<ngx-spinner bdColor="rgba(39,128,227,0)" size="large" loadingText="Playing balls with stripe" type="pacman" color="#FFEB3B"></ngx-spinner>
<div class="modal-header">
	<h4 class="modal-title">Thank you for considering to support us USERNAME!</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div>
		<form novalidate (ngSubmit)="buy($event)" [formGroup]="stripeTest">
			<div class="bmd-form-group">
				<input  class="form-control" type="text" formControlName="name" placeholder="Jane Doe">
			</div>
			<div class="bmd-form-group">
				<input  class="form-control" type="number" formControlName="amount" placeholder="Amount">
			</div>
			<div id="card-element" class="field"></div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-raised btn-success btn-lg">Donate</button>
			</div>
			</form>
	</div>
