<div class="modal-header">
	<h4 class="modal-title">Thank you for considering to support us!</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form novalidate (ngSubmit)="buy($event)" [formGroup]="stripeTest">
		<input type="text" formControlName="name" placeholder="Jane Doe">
		<div id="card-element" class="field"></div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-dark mr-auto" (click)="activeModal.close('Close click')">Close</button>
			<button type="submit" class="btn btn-outline-success">Donate</button>
		</div>
		</form>
</div>
