<ngx-spinner bdColor="rgba(39,128,227,0)"
             size="large"
             color="#FFEB3B">
	<p>Playing balls with stripe</p>
</ngx-spinner>
<section>

	<div class="modal-header">
		<h4 class="modal-title">Donation Information</h4>
		<button type="button"
		        class="close"
		        aria-label="Close"
		        (click)="activeModal.dismiss()">
			<i class="fas fa-times"></i>
		</button>
	</div>
	<div class="modal-body">
		<div class="donate-info">

			Thank you {{name}}!
			{{token}}
			{{amount}}
			{{id}}
			{{info.client_ip}}
			{{info.created * 1000 | date: "medium"}}
		</div>
	</div>

</section>
