.icons {
	position: relative;
	font-size: 40px;
	color: #e6e6e6;
	width: 75px;
	margin: 40px;
	height: 75px;
	line-height: 75px;
	display: inline-block;
	text-align: center;
	-webkit-perspective: 50em;
	perspective: 50em;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	&:after {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border: 2px solid #112938;
		content: "";
		z-index: -1;
		border-radius: 50%;
	}
	&:before {
		color: #fff;
		-webkit-transition: all 0.45s ease-in-out;
		transition: all 0.45s ease-in-out;
	}
	&:after {
		-webkit-transition: all 0.45s ease-in-out;
		transition: all 0.45s ease-in-out;
	}
	&:hover,
	&:active,
	&.hover {
		color: #212121;
	}
	&:hover:after,
	&:active:after,
	&.hover:after {
		border-color: transparent #c0392b;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.fas,
.far {
	color: #112938;
	&.fa-heart {
		color: #c0392b;
	}
	&.fa-briefcase {
		color: #795548;
	}
	&.fa-image {
		color: #ff5722;
	}
	&.fa-ribbon {
		color: #e91e63;
	}
	&.fa-check {
		color: #4caf50;
	}
}
