<ngx-spinner bdColor="rgba(39,128,227,0)" size="large" color="#FFEB3B">
	<p>Playing balls with stripe</p>
</ngx-spinner>
<section>

	<div class="modal-header">
		<h4 class="modal-title">Donation Information</h4>
		<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
			<i class="fas fa-times"></i>
		</button>
	</div>
	<div class="modal-body">
		<div class="donate-info">

			Thank you {{name}} for considering donating to us, all donations goes towards server costs and to make the site even
			better!<br>

			As a thank you for your kind donation (of any amount) we will give you a badge for your profile and the ability to
			add a background image to your profile to stand out.<br>

			<span class="badge supporter">Supporter <i class="fas fa-star"></i></span>
		</div>
	</div>

</section>
