<ngx-spinner bdOpacity="0.9" bdColor="#112938" size="large" color="#FFEB3B" loadingText="Eating up cookies... and preparing your profile"
             type="pacman">
	<p style="margin-top: 0;margin-bottom: 1rem;color: #ffeb3b;font-size: 2rem;">Found Inky in your profile... </p>
</ngx-spinner>
<section>
	<div class="profile">
		<div class="card card-body profile-background text-white mb-3" [ngStyle]="{'background-image': support ? 'url('+ profile?.backgroundImage + ')' : 'url(' + normalBackground +') no-repeat center center', 'background-size': 'cover', 'background-attachment': 'fixed', 'height': '80vh'}">

			<div class="row">
				<div class="m-auto">
					<img class="rounded-circle profile-image" src="{{profile?.avatar}}" alt="{{user?.username}}">
				</div>
			</div>
			<div class="text-center profile-container">
				<h1 class="text-bg"><span *ngIf="profile?.firstName">{{profile?.firstName}}</span> <span>"{{user?.username}}"</span>
					<span *ngIf="profile?.lastName">{{profile?.lastName}}</span></h1>
				<p class="lead text-bg">{{profile?.title}}
					<span *ngIf="profile?.company">@</span> {{profile?.company}}</p>
				<div *ngIf="support" class="supporter text-center mx-auto content">
					<span>Supporter
						<i class="fas fa-star"></i>
					</span>
				</div>
				<div class="social-profile">
					<a href="https://www.facebook.com/{{profile?.facebook}}" *ngIf="profile?.facebook">
						<i class="fab fa-facebook"></i>
					</a>
					<a href="https://www.github.com/{{profile?.github}}" *ngIf="profile?.github">
						<i class="fab fa-github"></i>
					</a>
					<a href="https://www.linkedin.com/in/{{profile?.linkedin}}" *ngIf="profile?.linkedin">
						<i class="fab fa-linkedin"></i>
					</a>
					<a href="https://www.youtube.com/channel/{{profile?.youtube}}" *ngIf="profile?.youtube">
						<i class="fab fa-youtube"></i>
					</a>
					<a href="https://www.twitter.com/{{profile?.twitter}}" *ngIf="profile?.twitter">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="https://www.instagram.com/{{profile?.instagram}}" *ngIf="profile?.instagram">
						<i class="fab fa-instagram"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-9" *ngIf="profile?.bio">
				<article class="card card-body mb-3">
					<h3 class="text-center text-primary">About {{user?.username}}</h3>
					<p>{{profile?.bio}}</p>
				</article>
			</div>
			<aside class="col-sm-12 col-md-3" *ngIf="user?.skills.length > 0">
				<div class="card card-body mb-3">
					<h3 class="text-center text-primary">Skills</h3>
					<div class="icons">
						<div *ngFor="let skills of user?.skills">
							<i class="{{skills.icon}}" ngbTooltip="{{skills.name}}"></i>
						</div>
					</div>
				</div>
			</aside>
		</div>
		<div class="row ">
			<div class="col-sm-12 col-md-6 my-3" *ngIf="user?.education.length > 0">
				<h3 class="text-center text-primary">
					<i class="fas fa-graduation-cap"></i> Education</h3>
				<article class="list-group">
					<div class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let edu of user?.education">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">{{edu?.school}}</h5>
							<small *ngIf="edu?.current || !edu?.dateTo">{{edu?.dateFrom | date: "MMM yyyy"}} - Present</small>
							<small *ngIf="!edu?.current && edu?.dateTo">{{edu?.dateFrom | date: "MMM yyyy"}} - {{edu?.dateTo | date: "MMM
								yyyy"}}</small>
						</div>
						<small class="float-left"><i class="fas fa-map-marker-alt"></i> {{edu?.fieldOfStudy}}</small>
						<small class="float-right"><i class="fas fa-id-card"></i> {{edu?.qualification}}</small>
					</div>
				</article>
			</div>
			<div class="col-sm-12 col-md-6 my-3" *ngIf="user?.experience.length > 0">
				<h3 class="text-center text-primary">
					<i class="fas fa-briefcase"></i> Experience</h3>
				<article class="list-group">
					<div class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let exp of user?.experience">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">{{exp?.company}}</h5>
							<small *ngIf="exp?.current || !exp?.dateTo">{{exp?.dateFrom | date: "MMM yyyy"}} - Present</small>
							<small *ngIf="!exp?.current && exp?.dateTo">{{exp?.dateFrom | date: "MMM yyyy"}} - {{exp?.dateTo | date: "MMM
								yyyy"}}</small>
						</div>
						<small class="float-left"><i class="fas fa-map-marker-alt"></i> {{exp?.location}}</small>
						<small class="float-right"><i class="fas fa-id-card"></i> {{exp?.jobTitle}}</small>
					</div>
				</article>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" *ngIf="githubData?.length > 0">
				<article class="card card-body bg-light mb-3">
					<h3 class="text-center text-primary">
						<i class="fab fa-github"></i> {{user?.username}}'s 5 last repos</h3>
					<div class="card card-body mb-2" *ngFor="let repos of githubData | slice:0:5">
						<div class="row">
							<div class="col-md-6">
								<a href="{{repos?.html_url}}" class="repo-name" target="_blank">
									<h4>{{repos?.name}}</h4>
								</a>
								<p>{{repos?.description}}</p>
								<small>Last Updated: {{repos?.updated_at | date: "MMM d y hh:mm:ss"}}</small>
							</div>
							<div class="col-md-6">
								<span class="badge badge-primary mr-1"><i class="fas fa-star"></i> Stars: {{repos?.stargazers_count}} </span>
								<span class="badge badge-primary mr-1"><i class="fas fa-eye"></i> Watchers: {{repos?.watchers_count}}</span>
								<span class="badge badge-primary mr-1"><i class="fas fa-code-branch"></i> Forks: {{repos?.forks_count}}</span>
								<a href="{{repos?.html_url}}/issues" target="_blank" class="mr-3"><span class="badge badge-danger"><i class="fas fa-exclamation-circle"></i>
										Issues: {{repos?.open_issues_count}}</span></a>
								<a href="{{repos?.homepage}}/" target="_blank" *ngIf="repos?.homepage"><span class="badge badge-success"><i class="fas fa-globe"></i>
										Visit Demo Page</span></a>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
		<div class="row" *ngIf="!production">
			<div class="col-md-12">
				<div class="btn btn-danger" (click)="supporterTest()">Donation Toggle (For Testing)</div>
			</div>
		</div>
	</div>
</section>
