<div class="posts">
	<div class="card card-body mb-3">
		<div class="row">
			<div class="col-md-2">
				<a href="">
					<img src="http://simen.dehlin.info/media/img/profile.jpg" alt="" class="img-fluid rounded-circle d-none d-md-block">
				</a>
				<p class="text-center">
					Username
				</p>
			</div>
			<div class="col-md-10">
				<p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae dolorum corporis, ipsum amet accusantium eum quisquam
					inventore, ratione explicabo tenetur error assumenda in architecto facere non veritatis deserunt repellendus laudantium.</p>
				<button class="btn btn-light mr-1">
					<i class="fas fa-thumbs-up"></i>
					<span class="badge badge-light">100</span>
				</button>
				<button class="btn btn-light mr-1">
					<i class="fas fa-thumbs-down"></i>
					<span class="badge badge-light">5</span>
				</button>
				<button class="btn btn-dark ml-1">Comments</button>

				<app-comments></app-comments>
			</div>
		</div>
	</div>
</div>
