<ngx-spinner bdOpacity="0.9" bdColor="#2196F3" size="large" color="#FFEB3B" loadingText="Eating up cookies..." type="pacman"></ngx-spinner>
<div class="bg-landing">
	<div class="dark-overlay bg-inner text-light">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 class="display-3 mb-4"> Welcome to Developers Hangout</h1>
					<p class="lead">Create a developer profile, share posts and show off your own portfolio.</p>
					<p class="lead">By a developer for other Developers</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="float-button">
</div>
<div class="container-fluid cards-container my-5">
	<div class="row">
		<div class="col-xs-12"></div>
	</div>
	<div class="row">
		<div class="card-group">
			<div class="card">
				<i class="fab fa-facebook fa-8x text-center"></i>
			  <div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			  </div>
			</div>
			<div class="card">
					<i class="fab fa-facebook fa-8x text-center"></i>
				  <div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				  </div>
				</div>
			<div class="card">
					<i class="fab fa-facebook fa-8x text-center"></i>
				  <div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				  </div>
				</div>
		  </div>
	</div>
	<div class="row">
		<div class="col-md-6"></div>
		<div class="col-md-6"></div>
	</div>

</div>
