<ngx-spinner bdOpacity="0.9" bdColor="#2196F3" size="large" color="#FFEB3B" loadingText="Eating up cookies..." type="pacman"></ngx-spinner>
<div class="bg-landing">
	<div class="dark-overlay bg-inner text-light">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 class="display-3 mb-4"> Welcome to Developers Hangout</h1>
					<p class="lead">Create a developer profile, share posts and show off your own portfolio.</p>
					<p class="lead">By a developer for other Developers</p>
				</div>
			</div>
		</div>
	</div>
</div>
