img {
	width: 100%;
}

.bg-landing {
	position: relative;
	background: url("../../assets/landingBG.png");
	background-size: cover;
	background-position: center;
	height: 98vh;

	.bg-inner {
		padding-top: 80px;
	}
}

.cards-container {
	height: 50vh;
	background: #e0ebcf;
	align-items: center;

	.card {
		border: 0px solid transparent;
		background: transparent;
		color: #2b4d68;
		justify-content: center;
	}
}
.divider {
	background: #fff;
	.col-md-12 {
		background: #112938;
		color: #e0ebcf;
		justify-content: center;
		align-items: center;
		display: flex;
	}
}

#more-info {
	position: absolute;
	bottom: 150px;
	left: 50%;
	transform: translate(-50%);
}

.info {
	height: 98vh;
}
