<ngx-spinner bdOpacity="0.9" bdColor="#112938" size="large" color="#FFEB3B" loadingText="Eating up cookies..." type="pacman"></ngx-spinner>
<div class="bg-landing">
	<div class="dark-overlay bg-inner text-light">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 class="display-3 mb-4"> Welcome to Developers Hangout</h1>
					<p class="lead">Create a developer profile, share posts and show off your own portfolio.</p>
					<p class="lead">By a developer for other Developers</p>
				</div>
			</div>
		</div>
	</div>
	<div id="more-info">
		<a href="#" class="btn btn-outline-white btn-block">Find out more</a>
	</div>
</div>
<div class="container-fluid">
	<div class="row cards-container text-center">
		<div class="col-md-4">
			<div class="card">
				<i class="fab fa-github fa-8x"></i>
				<div class="card-body">
					<h2 class="card-title">Find other peoples projects</h2>

				</div>
			</div>

		</div>
		<div class="col-md-4">
			<div class="card">
				<i class="fas fa-code fa-8x"></i>
				<div class="card-body">
					<h2 class="card-title">Show off your skills</h2>

				</div>
			</div>

		</div>
		<div class="col-md-4">
			<div class="card">
				<i class="fas fa-users fa-8x"></i>
				<div class="card-body">
					<h2 class="card-title">Amazing Community</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="row divider">
		<div class="col-md-12">
			<h2 class="py-5">Find other peoples projects</h2>
		</div>
		<div class="info">
			<div class="col-md-6">
				<i class="fas fa-users fa-8x"></i>
			</div>
			<div class="col-md-6">
				<h2 class="card-title">Amazing Community</h2>
			</div>
		</div>
	</div>
	<div class="row divider">
		<div class="col-md-12">
			<h2 class="py-5">Show off your skills</h2>
		</div>
		<div class="info">
			<div class="col-md-6">
				<i class="fas fa-users fa-8x"></i>
			</div>
			<div class="col-md-6">
				<h2 class="card-title">Amazing Community</h2>
			</div>
		</div>
	</div>
	<div class="row divider">
		<div class="col-md-12">
			<h2 class="py-5">What people say about the community</h2>
		</div>
		<div class="info">
			<div class="col-md-6">
				<i class="fas fa-users fa-8x"></i>
			</div>
			<div class="col-md-6">
				<h2 class="card-title">Amazing Community</h2>
			</div>
		</div>
	</div>
	<div class="row divider">
		<div class="col-md-12">
			<h2 class="py-5">What people say about the community</h2>
		</div>
	</div>
</div>

<app-testimonials></app-testimonials>
