img {
	width: 100%;
}

.bg-landing {
	position: relative;
	background: url("../../assets/landing-bg.jpeg");
	background-size: cover;
	background-position: center;
	height: 100vh;


	.bg-inner {
		padding-top: 80px;

		&.dark-overlay {
			background-color: rgba(0, 0, 0, 0.7);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.cards-container {
	height: 50vh;
}
