img {
	width: 100%;
}

.bg-landing {
	position: relative;
	background: url("../../assets/landingBG.png");
	background-size: cover;
	background-position: center;
	height: 98vh;

	.bg-inner {
		padding-top: 80px;
	}
}

.cards-container {
	height: 50vh;
	background: #e0ebcf;
	align-items: center;

	.card {
		border: 0px solid transparent;
		background: transparent;
		color: #2b4d68;
		justify-content: center;
	}
}

.fa-heart {
	color: #f44336 !important;
}
.fa-github, .fa-users, .fa-code {
	color: #333;
}

.icons {
	.fas {
		color: #fff;
	}
}
.buttons {
	margin-top: 200px;
}
