<div class="modal-header">
	<h4 class="modal-title">Are you really sure?</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
	  <span aria-hidden="true">&times;</span>
	</button>
  </div>
  <div class="modal-body">
	<p>Hi, {{name}}!</p>
	<p>We are sorry to see you might want to leave us. <i class="fas fa-frown"></i></p>
	<ngb-alert [dismissible]="false" type="danger">
			<strong>Warning! </strong> Please be aware that if you delete your account all data is lost.
		  </ngb-alert>
  </div>
  <div class="modal-footer">
	  <button class="btn btn-danger mr-auto">Yes, I'm sure</button>
	  <button class="btn btn-primary" (click)="activeModal.close('Close click')">No I Changed my mind</button>
  </div>
