<ngx-spinner bdOpacity="0.9" bdColor="#112938" size="large" color="#FFEB3B"  type="pacman">
		<p style="margin-top: 0;margin-bottom: 1rem;color: #ffeb3b;font-size: 2rem;">Munching data files...</p>
</ngx-spinner>

<section class="container push-down">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<h4>
				<i class="fas fa-book"></i> {{username}} / {{repoName}}
			</h4>
		</div>
		<div class="col-sm-12 col-md-6">
			<ul class="list-inline float-right">
				<li class="list-inline-item">
					<div class="btn btn-outline-secondary" *ngIf="watchCount">
						<i class="fas fa-eye"></i> Watch: {{watchCount}}
					</div>
				</li>
				<li class="list-inline-item" *ngIf="starCount">
					<div class="btn btn-outline-secondary">
						<i class="fas fa-star"></i> Star: {{starCount}}
					</div>
				</li>
				<li class="list-inline-item">
					<div class="btn btn-outline-secondary" *ngIf="forkCount">
						<i class="fas fa-code-branch"></i> Fork: {{forkCount}}
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 set-height">
			<ngb-tabset #t="ngbTabset" justify="justified">
				<div *ngFor="let data of tabs">
					<ngb-tab id="tab-{{data.name}}">
						<ng-template ngbTabTitle>
							<i class="{{data?.icon}}"></i> <span class="text-capitalize"> {{data.name}}</span></ng-template>
						<ng-template ngbTabContent>
							<p>{{data?.description}}</p>
							<div *ngIf="data?.name == 'code'">
								<div class="table-responsive">
									<table class="table table-hover mb-5">
										<tbody>
											<tr *ngFor="let folders of projects?.folders">
												<td><i class="{{folders.icon}}"></i> {{folders.name}}</td>
												<td>{{folders.comment}}</td>
												<td>{{folders.date}}</td>
											</tr>
											<tr *ngFor="let files of projects?.files">
												<td><i class="{{files.icon}}"></i> {{files.name}}</td>
												<td>{{files.comment}}</td>
												<td>{{files.date}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<article [innerHTML]=projects.readmeContent></article>
							</div>
						</ng-template>
					</ngb-tab>
				</div>
			</ngb-tabset>
		</div>
	</div>
</section>
