<div class="d-flex w-100 justify-content-between">
	<h5 class="mb-1">{{exp?.company}}</h5>
	<small *ngIf="exp?.current || !exp?.dateTo">{{exp?.dateFrom | date: "MMM yyyy"}} - Present</small>
	<small *ngIf="!exp?.current && exp?.dateTo">{{exp?.dateFrom | date: "MMM yyyy"}} - {{exp?.dateTo | date: "MMM
		yyyy"}}</small>
</div>
<small class="float-left"><i class="fas fa-map-marker-alt"></i> {{exp?.location}}</small>
<small class="float-right"><i class="fas fa-id-card"></i> {{exp?.jobTitle}}</small>
