<section>
	<div class="container">
		<div class="row content">
			<div class="col-12">
				<h1>404</h1>
				<h2>Page Not Found</h2>
				<br>
				<h5 id="quotes">&nbsp;</h5>
				<br>
				<p>But while you might enjoy our small quotes today, cowboy, Let's saddle up and go home...</p>
			</div>
			<div class="row">
				<div class="col-6">

					<a href="#" onclick="quotes()" class="btn btn-outline-white">
						<i class="fa fa-refresh"></i> But i just want one more quote...</a>
				</div>
				<div class="col-6">
					<a routerLink="/" class="btn btn-outline-white">
						<i class="fa fa-undo"></i> Let's return home</a>

				</div>
			</div>
		</div>
	</div>
	<div class="background"></div>
</section>
