<div class="container-fluid">
	<div class="row divider">
		<div class="col-md-12">
			<h2 class="py-5">What do people say?</h2>
		</div>
		<div class="container testimonals my-5">
			<div class="row">
				<article class="col-md-4" *ngFor="let info of testimonials | slice: 0:6">
					<div class="testimonal-container">
						<div class="testimonal-card" routerLink="profile/{{info.id}}/{{info.username}}">
							<img src="{{info.profile[0].avatar}}" alt="{{info.profile[0].username}}" class="profile">
							<blockquote>{{info.profile[0].testimonal | truncate :130}}</blockquote>
							<h3>{{info.profile[0].firstName}} {{ info.profile[0].lastName}}
								<span>{{info.profile[0].title}}</span>
							</h3>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
