<div class="profile">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-6">
						<!-- This needs to be dynamic -->
						<a href="#" class="btn btn-light mb-3 float-left">Back to Profiles</a>
					</div>
					<div class="col-6">

					</div>
				</div>

				<!-- Header -->
				<div class="row">
					<div class="col-md-12">
						<!-- User needs to be able to upload image / This also needs a fallback -->
						<div class="card card-body profile-background  text-white mb-3">
							<div class="row">
								<div class=" col-4 col-md-3 m-auto">
									<!-- This needs to be dynamic -->
									<img class="rounded-circle profile-image" src="http://simen.dehlin.info/media/img/profile.jpg" alt="Your Username">
								</div>
							</div>
							<div class="text-center profile-container">
								<h1 class="text-bg">Simen Daehlin</h1>
								<p class="lead text-bg">Front End Developer @ Intergage</p>
								<p>Poole, UK</p>
								<div class="social-profile">
									<a href="#">
										<i class="fab fa-facebook"></i>
									</a>
									<a href="#">
										<i class="fab fa-github"></i>
									</a>
									<a href="#">
										<i class="fab fa-linkedin"></i>
									</a>
									<a href="#">
										<i class="fab fa-youtube"></i>
									</a>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-9">
						<div class="card card-body bg-light mb-3">
							<!-- This needs to dynamic change -->
							<h3 class="text-center text-info">Username's Bio</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae corrupti, nesciunt fugiat accusantium quo, ratione
								sapiente rerum ut animi dolore suscipit provident placeat delectus nulla velit consequatur cum, laudantium quasi.Ipsa
								laudantium inventore repellat corrupti, modi ad aspernatur eaque, doloribus asperiores vel quos, quisquam vero sed!
								Quasi quisquam mollitia hic magni iure libero quia enim voluptatibus? Fugiat voluptates nihil in!</p>
						</div>
					</div>
					<div class="col-md-3">
							<div class="card card-body bg-light mb-3">
									<!-- This needs to be dynamic -->
									<h3 class="text-center text-info">Skillset</h3>
										<div class="icons">
										<i class="devicon-html5-plain-wordmark colored" ngbTooltip="HTML"></i>
										<i class="devicon-css3-plain-wordmark colored" ngbTooltip="CSS"></i>
										<i class="devicon-javascript-plain colored" ngbTooltip="Javascript"></i>
										<i class="devicon-python-plain-wordmark colored" ngbTooltip="Python"></i>
										<i class="devicon-angularjs-plain colored" ngbTooltip="Angular"></i>
										</div>
									</div>
								</div>
					<div class="row mt-5">
						<div class="col-md-12">
							<ngb-tabset>
								<ngb-tab id="tab-skills">
									<ng-template ngbTabTitle>
										<i class="fas fa-user-astronaut"></i> Skill set</ng-template>
									<ng-template ngbTabContent>

									</ng-template>
								</ngb-tab>
								<ngb-tab id="tab-education">
									<ng-template ngbTabTitle>
										<i class="fas fa-graduation-cap"></i> Education</ng-template>
									<ng-template ngbTabContent>
										<div class="card card-body bg-light mb-3">
											<!-- This needs to be dynamic -->
											<h3 class="text-center text-info">Education</h3>
											<p>
												Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, molestiae! Explicabo eum nesciunt ullam quod facere molestias
												officia ipsa nobis, repudiandae totam maiores dolorum quos, commodi sit excepturi amet enim.Quia vitae possimus
												dicta maxime beatae optio explicabo neque non sint nisi! Voluptas nesciunt blanditiis nam deleniti, quibusdam
												ratione doloribus vel, necessitatibus fugiat hic, architecto voluptatibus debitis minus a aliquid.
											</p>
										</div>
									</ng-template>
								</ngb-tab>
								<ngb-tab id="tab-experience">
									<ng-template ngbTabTitle>
										<i class="fas fa-briefcase"></i> Experience</ng-template>
									<ng-template ngbTabContent>
										<div class="card card-body bg-light mb-3">
											<!-- This needs to be dynamic -->
											<h3 class="text-center text-info">Experience</h3>
											<p>
												Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, molestiae! Explicabo eum nesciunt ullam quod facere molestias
												officia ipsa nobis, repudiandae totam maiores dolorum quos, commodi sit excepturi amet enim.Quia vitae possimus
												dicta maxime beatae optio explicabo neque non sint nisi! Voluptas nesciunt blanditiis nam deleniti, quibusdam
												ratione doloribus vel, necessitatibus fugiat hic, architecto voluptatibus debitis minus a aliquid.
											</p>
										</div>
									</ng-template>
								</ngb-tab>
								<ngb-tab id="tab-github">
									<ng-template ngbTabTitle>
										<i class="fab fa-github"></i> Github Repo's</ng-template>
									<ng-template ngbTabContent>
										<div class="card card-body bg-light mb-3">
											<!-- This needs to be dynamic -->
											<h3 class="text-center text-info">Username's last 5 Repos</h3>
											<p>
												Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, molestiae! Explicabo eum nesciunt ullam quod facere molestias
												officia ipsa nobis, repudiandae totam maiores dolorum quos, commodi sit excepturi amet enim.Quia vitae possimus
												dicta maxime beatae optio explicabo neque non sint nisi! Voluptas nesciunt blanditiis nam deleniti, quibusdam
												ratione doloribus vel, necessitatibus fugiat hic, architecto voluptatibus debitis minus a aliquid.
											</p>
										</div>
									</ng-template>
								</ngb-tab>
							</ngb-tabset>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
