<div class="profile">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-6">
						<!-- This needs to be dynamic -->
						<a href="#" class="btn btn-light mb-3 float-left">Back to Profiles</a>
						<div class="btn btn-outline-danger" (click)="supporterTest()">Donation Toggle (For Testing)</div>
					</div>
					<div class="col-6">

					</div>
				</div>

				<!-- Header -->
				<div class="row">
					<div class="col-md-12">
						<!-- User needs to be able to upload image / This also needs a fallback -->
						<div class="card card-body profile-background  text-white mb-3">
							<div *ngIf="support">
							<div class="ribbon ribbon-top-right"><span>Supporter <i class="fas fa-star"></i> </span></div>
						</div>
							<div class="row">
								<div class=" col-4 col-md-3 m-auto">
									<!-- This needs to be dynamic -->
									<img class="rounded-circle profile-image" src="http://simen.dehlin.info/media/img/profile.jpg" alt="Your Username">
								</div>
							</div>
							<div class="text-center profile-container">
								<h1 class="text-bg">Simen Daehlin</h1>
								<p class="lead text-bg">Front End Developer @ Intergage</p>
								<p>Poole, UK</p>
								<div class="social-profile">
									<a href="#">
										<i class="fab fa-facebook"></i>
									</a>
									<a href="#">
										<i class="fab fa-github"></i>
									</a>
									<a href="#">
										<i class="fab fa-linkedin"></i>
									</a>
									<a href="#">
										<i class="fab fa-youtube"></i>
									</a>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-9">
						<div class="card card-body bg-light mb-3">
							<!-- This needs to dynamic change -->
							<h3 class="text-center text-primary">About USERNAME</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae corrupti, nesciunt fugiat accusantium quo, ratione
								sapiente rerum ut animi dolore suscipit provident placeat delectus nulla velit consequatur cum, laudantium quasi.Ipsa
								laudantium inventore repellat corrupti, modi ad aspernatur eaque, doloribus asperiores vel quos, quisquam vero sed!
								Quasi quisquam mollitia hic magni iure libero quia enim voluptatibus? Fugiat voluptates nihil in!</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card card-body bg-light mb-3">
							<!-- This needs to be dynamic -->
							<h3 class="text-center text-primary">Skills</h3>
							<div class="icons">
								<i class="devicon-html5-plain-wordmark colored" ngbTooltip="HTML"></i>
								<i class="devicon-css3-plain-wordmark colored" ngbTooltip="CSS"></i>
								<i class="devicon-javascript-plain colored" ngbTooltip="Javascript"></i>
								<i class="devicon-python-plain-wordmark colored" ngbTooltip="Python"></i>
								<i class="devicon-angularjs-plain colored" ngbTooltip="Angular"></i>
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-6">
							<div class="card card-body bg-light mb-3">
								<h3 class="text-center text-primary">
									<i class="fas fa-graduation-cap"></i> Education</h3>
								<div class="list-group">
									<div class="list-group-item list-group-item-action flex-column align-items-start">
										<div class="d-flex w-100 justify-content-between">
											<!-- Dynamic needs changing -->
											<h5 class="mb-1">Code Institute</h5>
											<small>March 2017 - Septemeber 2018</small>
										</div>
										<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<a href="#">
											<i class="fas fa-globe"></i> Visit Website</a>
									</div>
									<!-- Dynamic end / Repeat again -->
									<div class="list-group-item list-group-item-action flex-column align-items-start">
										<div class="d-flex w-100 justify-content-between">
											<h5 class="mb-1">List group item heading</h5>
											<small class="text-muted">3 days ago</small>
										</div>
										<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<a href="#">
											<i class="fas fa-globe"></i> Visit Website</a>
									</div>
									<div class="list-group-item list-group-item-action flex-column align-items-start">
										<div class="d-flex w-100 justify-content-between">
											<h5 class="mb-1">List group item heading</h5>
											<small class="text-muted">3 days ago</small>
										</div>
										<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<a href="#">
											<i class="fas fa-globe"></i> Visit Website</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="card card-body bg-light mb-3">
								<h3 class="text-center text-primary">
									<i class="fas fa-briefcase"></i> Experience</h3>
								<div class="list-group">
									<div class="list-group-item list-group-item-action flex-column align-items-start">
										<div class="d-flex w-100 justify-content-between">
											<!-- Dynamic needs changing -->
											<h5 class="mb-1">List group item heading</h5>
											<small>3 days ago</small>
										</div>
										<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<a href="#">
											<i class="fas fa-globe"></i> Visit Website</a>
									</div>
									<!-- Dynamic end / Repeat again -->
									<div class="list-group-item list-group-item-action flex-column align-items-start">
										<div class="d-flex w-100 justify-content-between">
											<h5 class="mb-1">List group item heading</h5>
											<small class="text-muted">3 days ago</small>
										</div>
										<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<a href="#">
											<i class="fas fa-globe"></i> Visit Website</a>
									</div>
									<div class="list-group-item list-group-item-action flex-column align-items-start">
										<div class="d-flex w-100 justify-content-between">
											<h5 class="mb-1">List group item heading</h5>
											<small class="text-muted">3 days ago</small>
										</div>
										<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<a href="#">
											<i class="fas fa-globe"></i> Visit Website</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="card card-body bg-light mb-3">
								<h3 class="text-center text-primary">
									<i class="fab fa-github"></i> Username's 5 last repos</h3>
									<div class="card card-body mb-2">
										<div class="row">
											<div class="col-md-6">
										<a href="#" target="_blank"><h4>Repository One</h4></a>
												<p>Repository Description</p>
											</div>
											<div class="col-md-6">
												<span class="badge badge-info mr-1">Stars: 5</span>
												<span class="badge badge-secondary mr-1">Watechers: 10</span>
												<span class="badge badge-success">Forks: 252</span>
											</div>
										</div>
									</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
