<div class="profile">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-6">
						<!-- This needs to be dynamic -->
						<a href="#" class="btn btn-light mb-3 float-left">Back to Profiles</a>
					</div>
					<div class="col-6">

					</div>
				</div>

				<!-- Header -->
				<div class="row">
					<div class="col-md-12">
						<!-- User needs to be able to upload image / This also needs a fallback -->
						<div class="card card-body profile-background  text-white mb-3">
							<div class="row">
								<div class=" col-4 col-md-3 m-auto">
									<!-- This needs to be dynamic -->
									<img class="rounded-circle profile-image" src="http://simen.dehlin.info/media/img/profile.jpg" alt="Your Username">
								</div>
							</div>
							<div class="text-center">
								<h1 class="text-bg">Simen Daehlin</h1>
								<p class="lead text-bg">Front End Developer @ Intergage</p>
								<p>Poole, UK</p>
								<div class="social-profile">
									<a href="#">
										<i class="fab fa-facebook"></i>
									</a>
									<a href="#">
										<i class="fab fa-github"></i>
									</a>
									<a href="#">
										<i class="fab fa-linkedin"></i>
									</a>
									<a href="#">
										<i class="fab fa-youtube"></i>
									</a>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
