<nav class="navbar navbar-expand-sm bg-primary">
	<div class="container">
		<a href="#" class="navbar-brand">Developers Hangout</a>
		<button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="mobileNav">
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="mobileNav" [ngbCollapse]="isCollapsed">
			<ul class="navbar-nav mr-auto">
			</ul>

			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a routerLink="profiles" class="nav-link" *ngIf="this.auth.isLoggedIn()"><i class="fas fa-users"></i></a>
				</li>
				<li class="nav-item">
					<a routerLink="feed" class="nav-link" *ngIf="this.auth.isLoggedIn()"><i class="fas fa-user-edit"></i></a>
				</li>
				<!-- This need a ngIF logged in or out-->
				<li class="nav-item">
					<a class="nav-link" *ngIf="!this.auth.isLoggedIn()" (click)="openSignUp()">
						<i class="fas fa-user-plus"></i> Sign Up</a>
					<li class="nav-item">
						<a class="nav-link circle" *ngIf="!this.auth.isLoggedIn()" (click)="openLogin()">Login
							<i class="fas fa-key"></i>
						</a>
					</li>
					<!-- This needs to be dynamic and needs a ngIF -->
					<li class="nav-item" *ngIf="this.auth.isLoggedIn()"  ngbTooltip="Your Dashboard" placement="bottom">
						<a class="nav-link" (click)="this.auth.logout()" routerLink="dashboard">
							<i class="fas fa-user-cog"></i>
						</a>
					</li>
					<li class="nav-item" *ngIf="this.auth.isLoggedIn()"  ngbTooltip="Public Profile" placement="bottom">
						<a class="nav-link" (click)="this.auth.logout()" routerLink="profile/0/eventyret">
							<i class="fas fa-user-astronaut"></i>
						</a>
					</li>
					<li class="nav-item" *ngIf="this.auth.isLoggedIn()"  ngbTooltip="Sign Out" placement="bottom">
						<a class="nav-link" (click)="this.auth.logout()">
							<i class="fas fa-sign-out-alt"></i>
						</a>
					</li>
			</ul>
		</div>
	</div>
</nav>
