<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
	<div class="container">
		<a href="#" class="navbar-brand">Developers Hangout</a>
		<button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="mobileNav">
				<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="mobileNav" [ngbCollapse]="isCollapsed">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a href="#" class="nav-link">Devs</a>
				</li>
			</ul>

			<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a href="#" class="nav-link">Post Feed</a>
					</li>
					<li class="nav-item">
						<a  routerLink="dashboard"class="nav-link">Dashboard</a>
					</li>
					<li class="nav-item">
						<a routerLink="signup" class="nav-link">Sign Up</a>
						<li class="nav-item">
							<a routerLink="login" class="nav-link">Login</a>
						</li>
					<li class="nav-item">
						<a href="#" class="nav-link">
							<img class="rounded-circle" src="https://www.gravatar.com/avatar/anything?s=200&d=mm" alt="No Avatar / Replace with Name"> Logout
						</a>
					</li>


			</ul>
		</div>
	</div>
</nav>
