<nav class="navbar navbar-expand-sm bg-primary sticky-top" *ngIf="this.router.url != '/not-found' ">
	<div class="container">
		<a routerLink="/" class="navbar-brand">Developers Hangout</a>
		<div class="d-sm-none">
			<button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="mobileNav">
				<i class="fas fa-bars"></i>
			</button>

			<div class="collapse navbar-collapse" id="mobileNav" [ngbCollapse]="isCollapsed">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a routerLink="/profiles" class="nav-link">Profiles</a>
					</li>
					<li class="nav-item">
						<a routerLink="/feed" class="nav-link">Feed</a>
					</li>
					<li class="nav-item">
						<a routerLink="/dashboard" class="nav-link">Dashboard</a>
					</li>
					<li class="nav-item">
						<a routerLink="profile/0/eventyret" class="nav-link">Your Profile</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="d-none d-sm-block">

			<ul class="navbar-nav ml-auto">
				<li class="nav-item mr-5">
					<a routerLink="profiles" class="nav-link" *ngIf="this.auth.isLoggedIn()" ngbTooltip="Developers Profiles" placement="bottom">
						<i class="fas fa-users"></i>
					</a>
				</li>
				<li class="nav-item mr-5">
					<a routerLink="feed" class="nav-link" *ngIf="this.auth.isLoggedIn()" ngbTooltip="Developer Feed" placement="bottom">
						<i class="fas fa-user-edit"></i>
					</a>
				</li>
				<li class="nav-item mr-5" *ngIf="this.auth.isLoggedIn()" ngbTooltip="Your Dashboard" placement="bottom">
					<a class="nav-link" routerLink="dashboard">
						<i class="fas fa-user-cog"></i>
					</a>
				</li>
				<li class="nav-item mr-5" *ngIf="this.auth.isLoggedIn()" ngbTooltip="Public Profile" placement="bottom">
					<a class="nav-link" routerLink="profile/{{userID}}/{{username}}">
						<!-- <avatar [name]="username" displayType="rounded" size="35"></avatar> -->
						<img src="{{avatar}}" alt="{{username}}" *ngIf="avatar" class="img-circle avatar">
						<img src="../../../assets/default.png" alt="{{username}}" *ngIf="!avatar" class="img-circle avatar">
					</a>
				</li>
			</ul>
		</div>

	</div>
	<div class="d-none d-sm-block">
		<a class="nav-link text-right" *ngIf="!this.auth.isLoggedIn()" (click)="openSignUp()">
			<button class="btn btn-outline-white">Sign Up
				<i class="fas fa-user-plus"></i>
			</button>
		</a>
		<a class="nav-link text-right" *ngIf="!this.auth.isLoggedIn()" (click)="openLogin()">
			<button class="btn btn-outline-white">Login
				<i class="fas fa-sign-in-alt"></i>
			</button>
		</a>
		<a class="nav-link text-right" (click)="this.auth.logout()" *ngIf="this.auth.isLoggedIn()">
			<button class="btn btn-danger">Logout
				<i class="fas fa-sign-out-alt"></i>
			</button>
		</a>
	</div>
</nav>
