.navbar-toggler {
	border-color: transparent;
	&:focus {
		outline: none;
	}
}

.navbar,
.nav-link,
.nav-item,
.navbar-brand {
	color:  #fff;
}

nav {
	background: #112938;
}
.nav-link {
	cursor: pointer;
}
li > a > .fas {
	margin-top: 3px;
	font-size: 1.85rem;
}

.fa-sign-out-alt,
.fa-user-plus,
.fa-sign-in-alt {
	font-size: 1rem;
}
