.navbar-toggler {
	border-color: transparent;
	&:focus {
		outline: none;
	}
}
img {
	width: 25px;
	margin-right: 5px;
	margin-top: 7px;
}

.navbar,.nav-link,.nav-item,.navbar-brand {
	color: #fff;
}
