<ngx-spinner bdColor="rgba(39,128,227,0)" size="large" type="pacman" color="#FFEB3B">
		<p>Playing balls with stripe</p>
</ngx-spinner>
<section>
	<div class="modal-header">
		<h4 class="modal-title">Thank you for considering to support us {{name}}!</h4>
		<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
			<i class="fas fa-times"></i>
		</button>
	</div>
	<div class="modal-body">
		<div>
			<form novalidate (ngSubmit)="buy($event)" [formGroup]="stripeTest">
				<div class="form-group">

					<input class="form-control" type="text" formControlName="cardName" placeholder="Cardholders Name">
				</div>
				<div class="form-group">
						<div class="input-group-prepend">
								<span class="input-group-text">$</span>
					<input class="form-control" type="number" formControlName="amount" placeholder="Amount">
					</div>
				</div>
				<div class="form-group">
					<div id="card-element" class="field  form-control"></div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success btn-lg">Donate</button>
				</div>
			</form>
		</div>
	</div>
</section>
