html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
}
.background {
	position: absolute;
	width: 100%;
	min-height: 100%;
	background: url("https://2.bp.blogspot.com/-KBLDppGxUWE/VxARn-wozZI/AAAAAAAADgY/LzRuvCk1P-kTTIwb6jnjOqXGaD5NiTlvgCLcB/s320/NYAN_CAT.gif") #112938 no-repeat center center fixed;
	background-size: contain;
}
