.triangle-button {
	position: absolute;
	top: 20px;
	right: 0;
	&:before {
		content: "";
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 100px 90px 0;
		border-color: transparent #2780E3 transparent transparent;
	}
	&:hover {
	}
}

.fas.fa-star {
	position: absolute;
	top: 16px;
	right: 3px;
	color: #ffc107;
	font-size: 2rem;
}

.donate-container {
	position: relative;
}
