.fas.fa-heart {
	color: #fff;
	font-size: ¨3rem;
}
.fab-sticky {
	position: fixed;
	bottom: 45vh;
	right: 15px;
	z-index: 1;
}

/* Pulsing Animation Effect */
.ani-pulse {
	&:hover {
		-webkit-animation: pulse 2s linear infinite;
		animation: pulse 2s linear infinite;
	}
}

/* The Animation of pulse */
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	50% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	100% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}

	50% {
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}

	100% {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
}
