<simple-notifications></simple-notifications>

<div class="fab-sticky">
	<button class="fab-buttons blue" ngbTooltip="Find out more" placement="left" container="body">
			<i class="fas fa-info"></i>
	</button>
	<button type="button" class="fab-buttons red" (click)="openModal()" (mouseover)="spin = true"
	(mouseout)="spin = false" placement="left" container="body" ngbTooltip="Want to show us some love?">
	<i class="fas fa-heart" [class.ani-pulse]="spin"></i>
</button>
<button type="button" class="fab-buttons">
	<i class="fas fa-question"></i>
</button>
</div>
