<div class="modal-header">
	<h4 class="modal-title">Create your Dev Account today!</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form [formGroup]="signUpForm">
		<div class="form-group">
			<input type="text" name="name" id="name" class="form-control form-control-lg" placeholder="Your Name" required />
		</div>
		<div class="form-group">
			<input type="email" name="email" id="email" class="form-control form-control-lg" placeholder="Your Email" required />
		</div>
		<div class="form-group">
			<input type="password" name="password" id="password" class="form-control form-control-lg" placeholder="Password" required
			/>
		</div>
		<div class="form-group">
			<input type="cpassword" name="cpassword" id="cpassword" class="form-control form-control-lg" placeholder="Confirm Pasword">
		</div>
		<input type="submit" class="btn btn-info btn-block mt-4">
	</form>
</div>
