<div class="register">
	<div class="container w-100 h-100">
		<div class="row align-items-center h-100">
			<div class="col-md-8 m-auto">
				<h1 class="display-4 text-center">Sign Up</h1>
				<p class="lead text-center">Create your Dev Account today!</p>
				<!-- This is dummy data and needs to be hooked up -->
				<form>
					<div class="bmd-form-group row">
						<div class="col-sm-6">
							<input type="text" name="name" id="name" class="form-control form-control-lg" placeholder="Your Name" required />
						</div>
						<div class="col-sm-6">
							<input type="email" name="email" id="email" class="form-control form-control-lg" placeholder="Your Email" required />
						</div>
					</div>
					<div class="bmd-form-group row">
					<div class="col-sm-6">
						<input type="password" name="password" id="password" class="form-control form-control-lg" placeholder="Password" required />
					</div>
					<div class="col-sm-6">
						<input type="cpassword" name="cpassword" id="cpassword" class="form-control form-control-lg" placeholder="Confirm Pasword">
					</div>
					</div>
					<input type="submit" class="btn btn-raised btn-info btn-block mt-4">
				</form>
			</div>
		</div>
	</div>
</div>
