<div class="modal-header">
	<h4 class="modal-title">Edit your profile {{name}}</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<i class="fas fa-times"></i>
	</button>
</div>
<div class="modal-body">
	<div class="edit-profile">
		<div class="container">
			<div class="row">
				<div class="col-md-8 m-auto">
					<p class="lead text-center">Let's get some information to make your profile stand out</p>
					<small class="d-block pb-3">* = required field</small>

					<form [formGroup]="profileForm" (ngSubmit)="update()">
						<div class="form-group">
							<select class="form-control form-control-lg" name="status" formControlName="title">
								<option value="0" selected>* Select Professional Status</option>
								<option value="Developer">Developer</option>
								<option value="Junior Developer">Junior Developer</option>
								<option value="Senior Developer">Senior Developer</option>
								<option value="Manager">Manager</option>
								<option value="Student or Learning">Student or Learning</option>
								<option value="Instructor">Instructor or Teacher</option>
								<option value="Intern">Intern</option>
								<option value="Other">Other</option>
							</select>
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<input formControlName="firstName" name="firstName" type="text" class="form-control form-control-lg"
								 placeholder="* First Name">
							</div>
							<div class="col-sm-6">
								<input formControlName="lastName" name="lastName" type="text" class="form-control form-control-lg" placeholder="Last Name">
							</div>
						</div>
						<div class="form-group">
							<input formControlName="locaton" name="location" type="text" class="form-control form-control-lg" placeholder="Location">
						</div>
						<div class="form-group">
							<input formContorlName="website" type="text" class="form-control form-control-lg" placeholder="Website"">
						</div>
						<div class="
							 form-group">
							<input formContorlName="company" type="text" class="form-control form-control-lg" placeholder="Company">
						</div>
						<div class="form-group">
							<textarea formContorlName="bio" type="textarea" class="form-control form-control-lg" placeholder="Tell people about yourself"></textarea>
						</div>
						<div class="form-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">@</span>
							</div>
							<input formContorlName="twitter" type="text" class="form-control form-control-lg" placeholder="Twitter Handle">
						</div>
						<div class="form-group">
							<input formContorlName="facebook" type="text" class="form-control form-control-lg" placeholder="Facebook Handle">
						</div>
						<div class="form-group">
								<input formContorlName="LinkedIn" type="text" class="form-control form-control-lg" placeholder="LinkedIn Handle">
						</div>
						<div class="form-group">
								<input formContorlName="Instagram" type="text" class="form-control form-control-lg" placeholder="Instagram Handle">
						</div>
						<div class="form-group">
								<input formContorlName="youtube" type="text" class="form-control form-control-lg" placeholder="Youtube Channel ID">
						</div>
						<div class="form-group">
								<input formContorlName="github" type="text" class="form-control form-control-lg" placeholder="Github Handle">
						</div>
						<div *ngIf="profileForm.valid; else elseBlock">
							<input type="submit" class="btn btn-success btn-block mt-4" value="Update">
						</div>
						<ng-template #elseBlock>
							<input type="submit" class="btn btn-danger btn-block mt-4" [disabled]="!profileForm.valid" value="Nothing Changed">
						</ng-template>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
