.testimoials {
	height: 100vh;
}
.testimonal-container {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 230px;
	max-width: 500px;
	width: 100%;
	color: #fff;
	text-align: left;
	line-height: 1.4em;
	background-color: #112938;
	padding-top: 120px;
	* {
		box-sizing: border-box;
	}
	img {
		max-width: 100%;
		vertical-align: top;
		opacity: 0.85;
	}

	.testimonal-card {
		width: 100%;
		background-color: #2b4d68;
		padding: 25px;
		position: relative;
		&:before {
			position: absolute;
			content: "";
			bottom: 100%;
			left: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 55px 0 0 500px;
			border-color: transparent transparent transparent #2b4d68;
		}
		.profile {
			border-radius: 50%;
			position: absolute;
			bottom: 100%;
			left: 25px;
			z-index: 1;
			max-width: 90px;
			opacity: 1;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
		}
		h3 {
			font-size: 1.3em;
			margin: 25px;
			font-weight: 300;
			position: absolute;
			top: -116px;
			right: -11px;
			text-align: right;
			span {
				display: block;
				font-size: 0.65em;
				color: #2980b9;
			}
		}
		blockquote {
			margin: 0 0 10px;
			padding: 0 0 30px;
			letter-spacing: 1px;
			opacity: 0.8;
			font-style: italic;
			font-weight: 300;
			&:after {
				font-family: "Font Awesome 5 Free";
				content: "\f10e";
				position: absolute;
				font-size: 52px;
				line-height: 1em;
				color: #fff;
				font-weight: 900;
				right: 22px;
				bottom: 10px;
			}
		}
	}
}
