.dashboard {
    height: 83.4vh;
    padding: 10px 80px;
}

.profile-image {
	width: 250px;
	height: 250px;
}


.supporter {
	background: linear-gradient(to right, #ff4e50, #f9d423);
    width: 250px;
    border-radius: 10px;
	padding: 10px;
	font-family: "Roboto";
	font-size: 1.5vw;
	font-weight: 700;
	color: #fff;
	.fa-star {
		color: #FF5722;
		font-size: 1.5vw;
	}
}

.thead-dark th, .btn-secondary {
	background-color: #112938;
	border-color: #112938;
}
