<div class="dashboard">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="display-4">Dashboard</h1>
				<p class="lead text-muted">Welcome Profile Name</p>

<!-- 				<app-experience></app-experience>
				<app-education></app-education> -->

				<div class="bottom-actions">
					<button class="btn btn-danger"><i class="fas fa-exclamation-circle"></i> Delete my Account</button>
					<button class="ml-5 btn btn-info"><i class="fas fa-info-circle"></i> Edit my Profile</button>
				</div>
		</div>
	</div>
</div>
