<div class="modal-header">
		<h4 class="modal-title">Editing XXX</h4>
		<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="add-education">
			<div class="container">
				<div class="row">
					<div class="col-md-8 m-auto">
						<small class="d-block pb-3 text-right">* = required field</small>
						<form>
							<div class="form-group">
								<input type="text" class="form-control form-control-lg" placeholder="* Name of School Or Bootcamp" name="school" required />
							</div>
							<div class="form-group">
								<input type="text" class="form-control form-control-lg" placeholder="* Degree Or Certificate" name="degree" required />
							</div>
							<div class="form-group">
								<input type="text" class="form-control form-control-lg" placeholder="Field Of Study" name="fieldofstudy" />
							</div>
							<div class="form-group row">
									<div class="col-sm-6">
										<h6>From</h6>
										<input type="date" class="form-control form-control-lg" name="from" />
									</div>
									<div class="col-sm-6">
											<h6>To</h6>
											<input type="date" class="form-control form-control-lg" name="to" *ngIf="!current"/>
									</div>
									</div>
							<div class="form-check mb-4">
								<input class="form-check-input" type="checkbox" name="current" value="" id="current"  />
								<label class="form-check-label" for="current">
									Still studying
								</label>
							</div>
							<div class="form-group">
								<textarea class="form-control form-control-lg" placeholder="Description" name="description"></textarea>
								<small class="form-text text-muted">Tell us a bit more about what you are styding</small>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-dark mr-auto" (click)="activeModal.close('Close click')">Close</button>
			<input type="submit" class="btn btn-success" value="Add"/>
		</div>
