html {
	min-height: 100%;
	position: relative;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
.text-primary {
	color: #2196F3 !important;
}
.bg-primary{
	background-color: #2196F3 !important;
}
.bg-info {
	background-color: #3F51B5 !important;
}
