html {
	min-height: 100%;
	position: relative;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
.text-primary {
	color: #112938 !important;
}
.bg-primary{
	background-color: #112938 !important;
}
.bg-info {
	background-color: #3F51B5 !important;
}

.btn-outline-white {
    color:  #fff;
    background-color: transparent;
    background-image: none;
	border-color:  #fff;
	&:hover {
		color:  #fff;
    background-color: #FF5722;
    border-color: #FF5722;
	}
}
.simple-notification-wrapper.right {
    right: 20px;
}
.simple-notification-wrapper.top {
    top: 90px !important;
}
.simple-notification-wrapper {
    position: fixed;
    width: 300px;
    z-index: 9999950 !important;
}
