@media screen and (min-width: 768px) {
	.col-md-5 {
		padding: 0 10%;
	}
}

/* img {
	width: 200px;
	height: 200px;
}

.size-2 {
	font-size: 2.5vw;
}
 */

 .profile {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 220px;
	max-width: 310px;
	width: 100%;
	background: #34495e;
	color: #333;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	font-size: 16px;
	* {
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  -webkit-transition: all 0.35s ease;
	  transition: all 0.35s ease;
	}
	img {
	  max-width: 100%;
	  width: 300px;
	  vertical-align: top;
	}
	.image {
	  position: relative;
	  border-bottom: 4px solid #34495e;
	  z-index: 1;
	  &:before {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 20px 20px 0 20px;
		border-color: #34495e transparent transparent transparent;
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		-webkit-transform: translate(-50%, -15px);
		transform: translate(-50%, -15px);
		z-index: -1;
		-webkit-transition: all 0.35s ease;
		transition: all 0.35s ease;
	  }
	  p {
		font-weight: 500;
		margin: 0;
		padding: 0 30px;
		line-height: 1.6em;
		position: absolute;
		top: 50%;
		width: 100%;
		color: #ffffff;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		opacity: 0;
		font-style: italic;
	  }
	}
	.profile-text {
	  background-color: #ffffff;
	  padding: 25px;
	}
	h3 {
	  margin: 0 0 5px;
	  text-transform: uppercase;
	  font-weight: 400;
	  span {
		font-weight: 800;
	  }
	}
	h5 {
	  margin: 0 0 15px;
	  font-weight: 400;
	}

	&:hover .image:before, &.hover .image:before {
	  border-color: #34495e transparent transparent transparent;
	  -webkit-transform: translate(-50%, 0px);
	  transform: translate(-50%, 0px);
	}
	&:hover .image p, &.hover .image p {
	  opacity: 1;
	}
	&:hover img, &.hover img {
	  opacity: 0.2;
	  -webkit-filter: grayscale(100%);
	  filter: grayscale(100%);
	}
  }

  .ribbon {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: absolute;

	span {
		position: absolute;
		display: block;
		width: 225px;
		padding: 15px 0;
		background-color: #9C27B0;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
		color: #fff;
		font: 700 18px/1 "Roboto", sans-serif;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		text-transform: uppercase;
		text-align: center;
	}

	&:before,
	:after {
		position: absolute;
		z-index: -1;
		content: "";
		display: block;
		border: 5px solid #9C27B0;
	}
}

.ribbon-top-right {
	top: -10px;
	right: -10px;
	&:before {
		top: 0;
		left: 0;
	}
	&:before,
	:after {
		border-top-color: transparent;
		border-right-color: transparent;
	}
	&:after {
		bottom: 0;
		right: 0;
	}
	span {
		left: -25px;
		top: 35px;
		transform: rotate(45deg);
	}
}
.fa-star {
	color: #FFEA00;
}
