<ngx-spinner bdOpacity="0.9" bdColor="#112938" size="large" color="#FFEB3B" loadingText="Listing the developers..." type="pacman"></ngx-spinner>
<!-- <div class="profiles mt-3">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="display-4 text-center">Developer Profiles</h1>
				<p class="lead text-center">Browse and connect with developers</p>

				<div *ngFor="let user of users">
					<div class="card card-body mb-3">
						<div class="row">
							<div class="col-sm-6 col-md-3">
								<img class="img-fluid rounded-circle" src="{{user.profile.avatar}}" alt="" />
							</div>
							<div class="col-sm-6 col-md-5">
								<h3>{{user.profile.firstName}} {{user.profile.lastName}}</h3>
								<p>{{user.profile.title}} @ {{user.profile.company}}</p>
								<p>{{user.profile.location}}</p>
							</div>
							<div class="col-sm-12 col-md-4">
								<h4>Skill Set</h4>
								<ul class="list-inline">
									<li class="list-inline-item" *ngFor="let skills of user.profile.skills">
										<i class="{{skills.icon}} size-2"></i>
								</ul>
								<a [routerLink]="['/profile', user.id, user.username]" class="btn btn-primary btn-lg my-3 mx-auto">View Profile</a>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div> -->

<div class="container">
	<div class="row">
		<div class="col" *ngFor="let user of users">
			<div class="profile">
				<div class="image">
					<img src="{{user?.profile.avatar}}" alt="{{user?.username}}" />
					<div *ngIf="user?.profile.donator">
						<div class="ribbon ribbon-top-right">
							<span>Supporter
								<i class="fas fa-star"></i>
							</span>
						</div>
					</div>
					<p [routerLink]="['/profile', user.id, user.username]">
						Visit Profile
					</p>
				</div>
				<div class="profile-text">
					<h3>{{user?.username}}"
						<span> Nutrisha</span>
					</h3>
					<h5>{{user?.profile.title}}</h5>
					<div class="icons">
						<ul class="list-inline">
							<li class="list-inline-item" *ngFor="let skills of user.profile.skills">
								<i class="{{skills.icon}} size-2"></i>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
