<div class="feed">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="post-form mb-3">
					<div class="card card-info">
						<div class="card-header bg-primary text-white">Say Something</div>
						<div class="card-body">
							<form>
								<div class="form-group">
									<textarea class="form-control form-control-lg mb-3" placeholder="Create a post"></textarea>
									<button type="submit" class="btn btn-dark">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<app-posts></app-posts>
			</div>
		</div>
	</div>
</div>
