<ngx-spinner bdOpacity="0.9" bdColor="#112938" size="large" color="#FFEB3B" type="pacman"><p>Eating up cookies...</p></ngx-spinner>
<div class="dashboard mt-3">

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-4 text-center">
				<p class="lead text-muted">Welcome {{user?.username}}</p>
				<img class="rounded-circle profile-image my-2 img-fluid" src="{{user?.profile.avatar}}" alt="{{user?.username}}">
				<div *ngIf="support" class="supporter text-center mx-auto content my-2">
					<span>Supporter
						<i class="fas fa-star"></i>
					</span>
				</div>
				<ul class="list-group">
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<span>Name:</span>
						{{user?.profile.firstName}} {{user?.profile.lastName}}
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center">
							<span>Title:</span>
							{{user?.profile.company}}
						</li>
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<span>Location:</span>
						{{user?.profile.location}}
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<span>Company:</span>
						{{user?.profile.company}}
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<span>Website:</span>
						<a href="{{user?.profile.website}}">Website</a>
					</li>
					</ul>

			</div>
			<div class="col-sm-12 col-md-8 mt-5">
				<div id="experience my-auto">
					<h4 class="mb-2">Experience</h4>
					<div class="table-responsive">
						<table class="table table-hover">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Company</th>
									<th scope="col">Title</th>
									<th scope="col">Location</th>
									<th scope="col">Years</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let exp of user?.experience">
									<td scope="row">{{exp?.company}}</td>
									<td scope="row">{{exp?.jobTitle}}</td>
									<td scope="row">{{exp?.location}}</td>
									<td scope="row">{{exp?.dateFrom | date: ["MMM yyyy"] }}
										<span *ngIf="!exp?.current && exp?.dateTo"> - {{exp?.dateTo | date: ["MMM yyyy"]}}</span>
										<span *ngIf="exp?.current  || !exp?.dateTo"> - Present</span>
									</td>
									<td>
										<button class="btn btn-info mr-3" (click)="open($event, exp?.id)" id="editExp">
											Edit
										</button>
										<button class="btn btn-danger">
											Delete
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div id="education">
					<h4 class="mb-2">Education</h4>
					<div class="table-responsive">
						<table class="table table-hover">
							<thead class="thead-dark">
								<tr>
									<th scope="col">School</th>
									<th scope="col">Degree</th>
									<th scope="col">Field of Study</th>
									<th scope="col">Years</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let edu of user?.education">
									<td scope="row">{{edu?.school}}</td>
									<td scope="row">{{edu?.qualification}}</td>
									<td scope="row">{{edu?.fieldOfStudy}}</td>
									<td scope="row">{{edu?.dateFrom | date: ["MMM yyyy"] }}
											<span *ngIf="!edu?.current && edu?.dateTo"> - {{edu?.dateTo | date: ["MMM yyyy"]}}</span>
											<span *ngIf="edu?.current  || !edu?.dateTo"> - Present</span>
										</td>
									<td schope="row">
										<a class="btn btn-info mr-3 text-white" (click)="open($event, edu?.id)" id="editEdu">
											Edit
										</a>
										<a class="btn btn-danger text-white">
											Delete
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="d-flex justify-content-around mt-3">
						<button type="button" class="btn btn-secondary" (click)="open($event)" id="editProfile">
						<i class="fas fa-info-circle"></i> Edit Profile</button>
						<button type="button" class="btn btn-secondary" (click)="open($event)" id="addEdu">
							<i class="fas fa-graduation-cap"></i> Add Education</button>
						<button type="button" class="btn btn-secondary" (click)="open($event)" id="addExp">
							<i class="fas fa-briefcase"></i> Add Experience</button>
					</div>
			</div>
		</div>
	</div>
</div>
