.dashboard {
	padding: 10px 80px;
	@media screen and (min-width: 768px) {
		min-height: 110vh;
	}
	@media screen and (max-width: 576px) {
		padding: 0;
	}
}

.profile-image {
	width: 250px;
	height: 250px;

}

.supporter {
	background: linear-gradient(to right, #ff4e50, #f9d423);
	width: 200px;
	border-radius: 10px;
	padding: 10px;
	font-family: "Ubuntu";
	font-size: 1rem;
	font-weight: 700;
	color: #fff;
	.fa-star {
		color: #ff5722;
		font-size: 1rem;
	}
}

.link {
	cursor: pointer;
}

.thead-dark th,
.btn-secondary {
	background-color: #112938;
	border-color: #112938;
}

.social-profile {
	position: relative;
	text-align: center;
	margin: 0 center;
	margin-top: 20px;
	& a {
		display: inline-block;
		width: 36px;
		height: 36px;
		border-radius: 24px;
		background-color: #112938;
		margin: 0 1px;
		color: #fff;
		text-align: center;
		line-height: 36px;
		& i {
			height: 24px;
			width: 24px;
		}
		&:hover {
			background-color: #772953;
		}
	}
}
@media screen and (max-width: 576px) {
	.dashboard {
		padding: 0;
	}
	.profile-image {
		width: 128px;
		height: 128px;
	}
	button {
		width: 100%;
		margin-top: 15px;
		display: block;
	}
}
