.dashboard {
	padding: 10px 80px;
	@media screen and (min-width: 768px) {
		min-height: 83.1vh;
	}
}

.profile-image {
	width: 250px;
	height: 250px;
}

.supporter {
	background: linear-gradient(to right, #ff4e50, #f9d423);
	width: 200px;
	border-radius: 10px;
	padding: 10px;
	font-family: "Ubuntu";
	font-size: 1vw;
	font-weight: 700;
	color: #fff;
	.fa-star {
		color: #ff5722;
		font-size: 1vw;
	}
}

.thead-dark th,
.btn-secondary {
	background-color: #112938;
	border-color: #112938;
}
