<section>
	<div class="modal-header">
		<h4 class="modal-title">Editing your Skills</h4>
		<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
			<i class="fas fa-times"></i>
		</button>
	</div>
	<div class="modal-body">
		<div class="skills">
			<div class="container">
				<div class="row">
					<p>We are currently working on this feature and will release it soon
						Please check back at a later time</p>
					<div class="test">
						<div class="parent" *ngFor="let skill of combinedSkilles">
							<h2 *ngIf="!skill.owned">Pick a Skill</h2>
							<i class="{{skill?.icon}}" *ngIf="!skill.owned" (click)="updateSkill(skill)"></i>
							<h2 *ngIf="skill.owned"> Your Skills</h2>
							<i class="{{skill?.icon}}" *ngIf="skill.owned" (click)="deleteSkill(skill?.id)"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
