<section>
	<div class="modal-header">
		<h4 class="modal-title">Pick your Skills</h4>
		<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('All skills saved 👍')">
			<i class="fas fa-times"></i>
		</button>
	</div>
	<div class="modal-body">
		<div class="skills">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<p>Here you can show off different langauges, libaries and skills you might have to other people!
							It's as simple as click on it and it's added.
						</p>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<h2>Pick a Skill</h2>
							<ul class="list-inline">
								<li class="list-inline-item" *ngFor="let skill of allSkills">
									<i class="{{skill?.icon}}" ngbTooltip="{{skill?.name}}" (click)="addSkill(skill)"></i>
								</li>
							</ul>
						</div>
						<div class="col-sm-12">
							<h2> Your Skills</h2>
							<ul class="list-inline">
								<li class="list-inline-item" *ngFor="let skill of userSkills">
									<i class="{{skill?.icon}}" ngbTooltip="{{skill?.name}}" (click)="deleteSkill(skill?.name,skill?.id)"></i>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
