<section>
	<div class="modal-header">
		<h4 class="modal-title">Editing your Skills</h4>
		<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
			<i class="fas fa-times"></i>
		</button>
	</div>
	<div class="modal-body">
		<div class="skills">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div *ngFor="let skills of userSkills">
							<div class="icons">
								<i class="{{skills.icon}}" ngbTooltip="{{skills.name}}"></i>
							</div>
						</div>
					</div>
					<div *ngFor="let skills of allSkills">
							<i class="{{skills.icon}}" (click)="test(skills)" ngbTooltip="{{skills.name}}"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
